<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DeveloperAchievements" connectionString="Server=.\SQLEXPRESS;Database=DeveloperAchievements;Integrated Security=true;"/>
  </connectionStrings>

  <appSettings>
    <add key="DeveloperActivityService.Url" value="http://localhost:42845/Services/DeveloperActivityService.svc" />
  </appSettings>

</configuration>