<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DeveloperAchievements_Integration" connectionString="Server=.\SQLEXPRESS;Database=DeveloperAchievements_Integration;Integrated Security=true"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
