<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="DeveloperAchievements" connectionString="Server=.\SQLEXPRESS;Database=DeveloperAchievements;Integrated Security=true"/>
  </connectionStrings>

  <appSettings>
    <add key="debug" value="true"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
