<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="DeveloperAchievements" connectionString="Server=.\SQLEXPRESS;Database=DeveloperAchievements;Integrated Security=true" />
  </connectionStrings>

  <appSettings>
    <add key="debug" value="true" />
  </appSettings>
  
</configuration>