@inherits System.Web.Mvc.WebViewPage<ChadwickSoftware.DeveloperAchievements.Developer>

@{
    View.Title = Model.DisplayName + "'s Achievements";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

    <div class="three-column">
    
        <div class="panel">
            <h2 class="header">Positive</h2>
            <ul class="body">
            </ul>
        </div>
    
        <div class="panel">
            <h2 class="header">Negative</h2>
            <ul class="body">
            </ul>
        </div>
    
        <div class="panel">
            <h2 class="header">Medals</h2>
            <ul class="body">
            </ul>
        </div>
    
    </div>