@inherits System.Web.Mvc.WebViewPage<ChadwickSoftware.DeveloperAchievements.Developer>

@{
    View.Title = "Developer: " + Model.DisplayName;
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Details</h2>

    <fieldset>
        <legend>Fields</legend>
        
        <div class="display-label">DisplayName</div>
        <div class="display-field">@Model.DisplayName</div>
        
        <div class="display-label">Username</div>
        <div class="display-field">@Model.Username</div>
        
    </fieldset>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Key }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
