<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DeveloperAchievements" connectionString="Server=.\SQLEXPRESS;Database=DeveloperAchievements;Integrated Security=true"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
<!--    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->
    <services>
      <service name="DeveloperAchievements.Services.AchievementsService" behaviorConfiguration="webHttp">
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="webHttp">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>